$transparency: 0.7
$transparency-hover: 0.8
$transparency-active: 0.9

$white: #E6E6E6
$color-1: #EF4D51
$color-2: #CE376E

$gradient-1: linear-gradient(180deg, $color-1 0%, $color-2 100%)

$bg-color: rgb(50,50,50)

$border: 15px
